.fondo_verde{  
  background-color:#146A2D;
  color:#FFFFFF;
  font-family:Arial;
  font-size:10pt;
  text-align:center;
}

.fondo_color{  
  background-color:#146A2D;
  color:F7EC3C;
  font-family:Arial;
  font-size:10pt;
  text-align:center;
}